@import "utility";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root,
#root > div {
  height: 100%;
}

.custom-scroll {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #ddd;
  }

  &::-webkit-scrollbar-thumb {
    background: darken(#ddd, 20%);
  }
}

.birthday-list {
  list-style: none;
  padding-left: 0;
}

.birthday-item {
  display: grid;
  grid-template-columns: max-content min-content;
  align-items: center;
  justify-content: center;
  text-align: left;
  gap: 1rem;
  margin-top: 1rem;
}

.logo-large {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}
.logo-large img {
  height: 100%;
  width: 100%;
}
